@import "tailwindcss";

@theme {
  --color-whatsapp-green-50: #e8f6f4;
  --color-whatsapp-green-100: #c5ebe6;
  --color-whatsapp-green-200: #9edfd5;
  --color-whatsapp-green-300: #6fd0c1;
  --color-whatsapp-green-400: #3cbfa9;
  --color-whatsapp-green-500: #128c7e; /* main */
  --color-whatsapp-green-600: #0f766b;
  --color-whatsapp-green-700: #0b5a52;
  --color-whatsapp-green-800: #083f3a;
  --color-whatsapp-green-900: #042523;
}

@theme {
  --color-whatsapp-teal-50: #e6f2f1;
  --color-whatsapp-teal-100: #c0dfdd;
  --color-whatsapp-teal-200: #97cac6;
  --color-whatsapp-teal-300: #61aca9;
  --color-whatsapp-teal-400: #2d8e8c;
  --color-whatsapp-teal-500: #075e54; /* main */
  --color-whatsapp-teal-600: #064f46;
  --color-whatsapp-teal-700: #053c35;
  --color-whatsapp-teal-800: #032a25;
  --color-whatsapp-teal-900: #021918;
}

@theme {
  --color-whatsapp-light-50: #e8fdf3;
  --color-whatsapp-light-100: #cbfbe3;
  --color-whatsapp-light-200: #a4f8d0;
  --color-whatsapp-light-300: #6ff3b7;
  --color-whatsapp-light-400: #3eec9c;
  --color-whatsapp-light-500: #25d366; /* main */
  --color-whatsapp-light-600: #1fb95a;
  --color-whatsapp-light-700: #198d48;
  --color-whatsapp-light-800: #116633;
  --color-whatsapp-light-900: #0b3d20;
}

@theme {
  --color-whatsapp-blue-50: #e9f8fe;
  --color-whatsapp-blue-100: #c7edfc;
  --color-whatsapp-blue-200: #9adff9;
  --color-whatsapp-blue-300: #67cff5;
  --color-whatsapp-blue-400: #3abdf2;
  --color-whatsapp-blue-500: #34b7f1; /* main */
  --color-whatsapp-blue-600: #2198cd;
  --color-whatsapp-blue-700: #187199;
  --color-whatsapp-blue-800: #104c66;
  --color-whatsapp-blue-900: #092a3a;
}

@theme {
  --color-whatsapp-gray-50: #f5f5f5;
  --color-whatsapp-gray-100: #e1e1e1;
  --color-whatsapp-gray-200: #cfcfcf;
  --color-whatsapp-gray-300: #b1b1b1;
  --color-whatsapp-gray-400: #9e9e9e;
  --color-whatsapp-gray-500: #7e7e7e;
  --color-whatsapp-gray-600: #626262;
  --color-whatsapp-gray-700: #515151;
  --color-whatsapp-gray-800: #3b3b3b;
  --color-whatsapp-gray-900: #1f1f1f;
}
